

 {% for product in productId %}   
 
                <spana>{{product.title }}</spana>
                <h3>{{product.brand }}</h3>
                <p>{{product.description }}</p>
               
            </div>
                
    
 
     
                      {% for picture in product.images %}  
                      <img src="{{ picture }}"></a>
                      {% endfor %}                      
                          
                     </div>
             </div>
     </div>
     </div>
</section>
 {% endfor %}
 